extends ../profile_template

block content
    br
    .container
        hr
        ul.list-group
            -for(var i = 0; i < activities.length; i++)
                -for(var j =0; j < activities[i].activities.length; j++ )
                    if activities[i].activities[j].object.body
                        li.list-group-item.card
                            h4 User: #{activities[i].activities[j].object.user.username}
                            p  #{activities[i].activities[j].object.body}
                            a(href='/like')
                                input.btn.btn-danger(type="button", value="Like")
                            |
                            |
                            a(href="/Reply")
                                input.btn.btn-danger(type="button", value="Reply")
                            hr
                            .container(style='width: 100rem;')
                                            form(method='POST', action='/comment/add/'+ activities[i].activities[j].object._id)
                                                #form-group
                                                    label.text-center Comment
                                                    textarea.form-control(name='body')
                                                br
                                                input.btn.btn-primary(type='submit', value='Submit')
                                            br
                            -for(var k =0; k < activities[i].activities[j].object.comments.length; k++)
                                .container
                                    .container-fluid
                                        h4 User: #{activities[i].activities[j].object.comments[k].commenterName}
                                        | 
                                        .container
                                            | #{activities[i].activities[j].object.comments[k].body}
                                        br
                                        br
                                        a(href='/like')
                                            input.btn.btn-danger(type="button", value="Like")
                                        |
                                        |
                                        a(href="/Reply")
                                            input.btn.btn-danger(type="button", value="Reply")
                                        hr                