extends ../profile_template

block content
    br
    .container
        br
        br
        hr
        ul.list-group
            each user, i in people
                li.list-group-item.card
                    form(method='POST', action='/View/user/'+user._id)
                        #form-group
                            h4 #{user.first_name} #{user.last_name}
                            br
                            // a(href='/post/'+post._id) #{post.body}
                            br
                            input.btn.btn-primary(type='submit', value='View Profile')
                            |
                            |
                            |
                            a(href='/follow/user/'+user._id)
                                input.btn.btn-danger(type="button", value="Follow User")
