extends UserTemplate

block content
    br
    .container
        .row
            .col-sm-2
                .card
                    h4.text-center
                    |   Your Connections
                    .card-body
                        h5.text-center #{user.followers.length}
                        br
                    hr
                    .card-footer
            .col-sm-6
                ul.list-group
                    each user, i in people
                        li.list-group-item.card.text-center
                            //form(method='POST', action='/View/user/'+user._id)
                            #form-group.card-body
                                a(href='/View/user/'+user._id)
                                    h4.card-title #{user.first_name} #{user.last_name}
                                br
                                br
                                a(href='/View/user/'+user._id)
                                    input.btn.btn-primary(type='submit', value='View Profile')
                                |
                                |
                                |
                                a(href='/follow/user/'+user._id)
                                    input.btn.btn-danger(type="button", value="Follow User")
                        br

