doctype html
html
    head
        title Financial social network
        link(rel = 'stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel = 'stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel = 'stylesheet' href='/css/style.css')
        link(rel = 'stylesheet' href='assets/css/main.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css')
        link(rel='stylesheet', type='text/css', href='https://material.angularjs.org/1.1.5/docs.css')
        
    body
        nav#mainNav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand.js-scroll-trigger(href='/NewsFeed') Fin-Social
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.float-right
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/NewsFeed') News Feed
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/UserFeed') My Profile
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/portfolio') My Portfolio
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/network') My Network
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/test') My Test
                    li.nav-item
                        a.nav-link.js-scroll-trigger.btn-outline-secondary(href='/logout') Log Out    

        block content
        br
        footer
            p Copyright &copy; 2017
        script(src='/bower_components/bootstrap/dist/js/boostrap.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/js/main.js')
        script(src='/js/angular.js')
        script(src='/js/Utilities.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js')
        // JQUERY CDN
        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        // BOOTSTRAP CDN
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        // BOOTSTRAP TOGGLE CDN
        link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
        script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
        // AJAX CDN
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // MOMENTS CDN
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-utils.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.js')
        // HIGHCHARTS CDN
        script(src='https://code.highcharts.com/stock/highstock.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
                