doctype html

html
	head
		title Fin-Social, A financial social network
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//if lte IE 8
			\script(src='assets/js/ie/html5shiv.js')
		link(rel='stylesheet', href='assets/css/main.css')
		//if lte IE 8
			link(rel='stylesheet', href='assets/css/ie8.css')
		//if lte IE 9
			link(rel='stylesheet', href='assets/css/ie9.css')
	body.landing
		// Page Wrapper
		#page-wrapper
			// Header
			header#header.alt
				h1
					a(href='index.html') Fin-Social
				nav#nav
					ul
						li.special
							a.menuToggle(href='#menu')
								span Menu
							#menu
								ul
									li
										a(href='/') Home
									li
										a(href='generic.html') Generic
									li
										a(href='elements.html') Elements
									li
										a(href='#') Sign Up
									li
										a(href='#') Log In
                                    
			// Banner
			section#banner
				.inner
					h2 Spectral
					p
						| A Social Network For Millenials
						br
						| 							
						br
						| 							crafted by and For
						a(href='#')  Us
						| .
					ul.actions
						li
							//a.button.special(href='#') Activate
				a.more.scrolly(href='#one') Learn More
			// One
			section#one.wrapper.style1.special
				.inner
					header.major
						h2
							| Arcu aliquet vel lobortis ata nisl
							br
							| 								eget augue amet aliquet nisl cep donec
						p
							| Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
							br
							| 								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
					ul.icons.major
						li
							span.icon.fa-diamond.major.style1
								span.label Lorem
						li
							span.icon.fa-heart-o.major.style2
								span.label Ipsum
						li
							span.icon.fa-code.major.style3
								span.label Dolor
			// Two
			section#two.wrapper.alt.style2
				section.spotlight
					.image
						img(src='images/pic01.jpg', alt='')
					.content
						h2
							| Magna primis lobortis
							br
							| 								sed ullamcorper
						p
							| Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
				section.spotlight
					.image
						img(src='images/pic02.jpg', alt='')
					.content
						h2
							| Tortor dolore feugiat
							br
							| 								elementum magna
						p
							| Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
				section.spotlight
					.image
						img(src='images/pic03.jpg', alt='')
					.content
						h2
							| Augue eleifend aliquet
							br
							| 								sed condimentum
						p
							| Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
			// Three
			section#three.wrapper.style3.special
				.inner
					header.major
						h2 Accumsan mus tortor nunc aliquet
						p
							| Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
							br
							| 								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
					ul.features
						li.icon.fa-paper-plane-o
							h3 Arcu accumsan
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
						li.icon.fa-laptop
							h3 Ac Augue Eget
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
						li.icon.fa-code
							h3 Mus Scelerisque
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
						li.icon.fa-headphones
							h3 Mauris Imperdiet
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
						li.icon.fa-heart-o
							h3 Aenean Primis
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
						li.icon.fa-flag-o
							h3 Tortor Ut
							p
								| Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
			// CTA
			section#cta.wrapper.style4
				.inner
					header
						h2 Arcue ut vel commodo
						p
							| Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.
					ul.actions.vertical
						li
							a.button.fit.special(href='#') Activate
						li
							a.button.fit(href='#') Learn More
			// Footer
			footer#footer
				ul.icons
					li
						a.icon.fa-twitter(href='#')
							span.label Twitter
					li
						a.icon.fa-facebook(href='#')
							span.label Facebook
					li
						a.icon.fa-instagram(href='#')
							span.label Instagram
					li
						a.icon.fa-dribbble(href='#')
							span.label Dribbble
					li
						a.icon.fa-envelope-o(href='#')
							span.label Email
				ul.copyright
					li © Untitled
					li
						| Design: 
						a(href='http://html5up.net') HTML5 UP
		// Scripts
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/jquery.scrolly.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		//if lte IE 8
			script(src='assets/js/ie/respond.min.js')
		script(src='assets/js/main.js')
