doctype html
html
    head
        title Financial social network
        link(rel = 'stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel = 'stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel = 'stylesheet' href='/css/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css')
        link(rel='stylesheet', type='text/css', href='https://material.angularjs.org/1.1.5/docs.css')
        
    body
        .container
            header.blog-header.py-3
                .row.flex-nowrap.justify-content-between.align-items-center
                    .col-4.pt-1
                        a.text-muted(href='#')
                    .col-4.text-center
                        h1.blog-header-logo.text-dark(href='/') Fin-Social
                    .col-4.d-flex.justify-content-end.align-items-center
                        a.text-muted(href='#')
                            svg.mx-3(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                circle(cx='10.5', cy='10.5', r='7.5')
                                line(x1='21', y1='21', x2='15.8', y2='15.8')
                        if user
                            a.btn.btn-sm.btn-outline-secondary(href='/logout') Log Out
                        else
                            a.btn.btn-sm.btn-outline-secondary(href='/login') Log In
                            a.btn.btn-sm.btn-outline-secondary(href='/register') Sign up

            .nav-scroller.py-1.mb-2
                nav.nav.navbar.navbar.d-flex.justify-content-between
                    if user
                        a.p-2.text-muted(href='/#') Home Feed
                        a.p-2.text-muted(href='/#') My Profile
                        a.p-2.text-muted(href='/Loggedin/portfolio') My Portfolio
                        a.p-2.text-muted(href='/Document') Documents
                        a.p-2.text-muted(href='#') Insights
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            div.dropdown-menu
                                a.dropdown-item(href='#') Action
                                a.dropdown-item(href='#') Another action
                                a.dropdown-item(href='#') Something else here
                    else
                        a.p-2.text-muted(href='/') Home
                        a.p-2.text-muted(href='/business') Product
                        a.p-2.text-muted(href='/markets') Markets
                        a.p-2.text-muted(href='/economics') Economy
                        a.p-2.text-muted(href='/opinions') Commentary
                        a.p-2.text-muted(href='/filings') Fund Filings
                        a.p-2.text-muted(href='/crypto') Crypto-Currencies
                        //a.p-2.text-muted(href='/social') Social
                        //a.p-2.text-muted(href='/article/add') Add Opinion
            != messages('message', locals)
            if errors  
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            footer
            br
            br
            //p Copyright &copy; 2017
        script(src='/bower_components/bootstrap/dist/js/boostrap.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/js/main.js')
        script(src='/js/angular.js')
        script(src='/js/Utilities.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js')
        // JQUERY CDN
        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        // BOOTSTRAP CDN
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        // BOOTSTRAP TOGGLE CDN
        link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
        script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
        // AJAX CDN
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // MOMENTS CDN
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-utils.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.js')
        // HIGHCHARTS CDN
        script(src='https://code.highcharts.com/stock/highstock.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
                