extends layout
        
block content
    each feed, i in feeds     
        - for (var j = 0; j < feed.items.length; j++)
            if (j == 0 || j % 3 == 0)
                .row
            -else
                .col-md-4
                    .card.flex-md-row.mb-4.box-shadow.h-md-250
                        .card-body.d-flex.flex-column.align-items-start
                            strong.d-inline-block.mb-2.text-primary #{feed.title}
                            h3.mb-0
                                a.text-dark #{feed.items[i].title}
                            br
                            .mb-1.text-muted #{feed.items[i].pubDate}
                            p.card-text.mb-auto #{feed.items[i].content}
                            br
                            p.lead.mb-0
                            a.text-muted.font-weight-bold(href= feed.items[i].link) Continue reading...                                        
