extends layout
block content
    .container
        h1.text-center Sign Up
        hr
        form(method='POST', action='/register').jumbotron.bg-light
            #form-group
                label Name:
                input.form-control(name='name', type='text')
                br
            #form-group
                label Email:
                input.form-control(name='email', type='text')
                br
            #form-group
                label Username:
                input.form-control(name='username', type='text')
                br
            #form-group
                label Password:
                input.form-control(name='password', type='password')
                br
            #form-group
                label Confirm Password:
                input.form-control(name='confpassword', type='password')
                br
            br
            input.btn.btn-primary(type='submit', value='Submit')
        