extends ../../template1



block content
    section#banner-dark
        h2 Login
        hr
    section#main.container
        section.box
            form(method='POST', action='/login')
                #form-group
                    label.float-right Username:
                    input.form-control(name='username', type='text')
                    br
                #form-group
                    label Password:
                    input.form-control(name='password', type='password')
                    br
                br
                input.btn.btn-primary(type='submit', value='Submit')
                |
                |
                |
                a(href='/register')
                    input.btn.btn-danger(type="Button", value="Don't Have An Account") 