extends ../../template1



block content
    section#banner

    section#main.card
        .container.card
            form(method='POST', action='/login').jumbotron.bg-dark.text-dark
                #form-group
                    label.text-dark Username:
                    input.form-control(name='username', type='text')
                    br
                #form-group
                    label.text-dark Password:
                    input.form-control(name='password', type='password')
                    br
                br
                input.btn.btn-primary(type='submit', value='Submit')